@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

#observablehq-header {
  margin:0px !important;
  max-width: none;
}

:root {
  --theme-foreground-focus: green;
  margin:0px !important
}

#observablehq-center {
    margin:0px !important;
}

#observablehq-footer {
  max-width: none;
  margin:0px !important;
}