/* Make the Observable theme a bit move like GOV.UK Design System */
/* (Colours taken from either the GOV.UK Design System, or from the GOV.UK Design System site) */
:root {
  --theme-foreground: #0b0c0c; /* page foreground color, e.g. black */
  --theme-background: #ffffff; /* page background color, e.g. white */
  --theme-background-alt: #f8f8f8; /* block background color, e.g. light gray */
  --theme-foreground-alt: #0b0c0c; /* heading foreground color, e.g. brown */
  --theme-foreground-muted: #505a5f; /* secondary text foreground color, e.g. dark gray */
  --theme-foreground-faint: #b1b4b6; /* faint border color, e.g. middle gray */
  --theme-foreground-fainter: #b1b4b6; /* fainter border color, e.g. light gray */
  --theme-foreground-faintest: #b1b4b6; /* faintest border color, e.g. almost white */
  --theme-foreground-focus: #1d70b8; /* emphasis foreground color, e.g. blue */
}
.card {
  border-radius: 0; /* The design system doesn't tend to have rounded corners */
}

/* Remove margins/widths set by Observable (in its place we use GOV.UK markup/CSVV */
#observablehq-header,
#observablehq-center,
#observablehq-footer {
  margin: 0px;
  max-width: none;
}
p, table, figure, figcaption, h1, h2, h3, h4, h5, h6, .katex-display {
  max-width: none;
  margin:0px !important;
}

input[type="checkbox"] {
  z-index: 1;
    width: 44px;
    height: 44px;
    margin: 0;
    background-color: white;
    cursor: pointer;
}
